<div class="section-filter">
    <button type="button" class="btn-filter flex-center"></button>
    <div class="box-filter">
        <div class="filter">
            <div class="header flex-lc mb-sm">
                <h4 class="txt-md txt-w-m">Categories</h4>
                <button type="button" class="btn-uncheck txt-w-m">Uncheck all</button>
            </div>
            <div class="filter__list">
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Action
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" class="checkbox" checked>
                            <span class="checked"></span>
                            Adventure
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Animated
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Comedy
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Crime
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Fantasy
                        </label>
                    </li>
                </ul>
                <button type="button" class="see-more">See more</button>
            </div>
        </div>
        <div class="filter">
            <div class="header flex-lc mb-sm">
                <h4 class="txt-md txt-w-m">Services</h4>
                <button type="button" class="btn-uncheck">Uncheck all</button>
            </div>
            <div class="filter__list">
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Netflix
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Prime video
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Disney +
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            HBO max
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Hulu
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="checkbox" name="" checked>
                            <span class="checked"></span>
                            Starz
                        </label>
                    </li>
                </ul>
                <button type="button" class="see-more">See more</button>
            </div>
        </div>
    </div>
</div>