<div class="main-sidebar">
    <button type="button" class="btn-sidebar flex-center"></button>
    <div class="sidebar">
        <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
        <div class="navbar">
            <ul class="menu">
                <li><a href="/movibes/build/home" title=""><i class="icon icon-home"></i><span>Home</span></a></li>
                <li><a href="/movibes/build/movies" title=""><i class="icon icon-movies"></i><span>Movies</span></a></li>
                <li><a href="" title=""><i class="icon icon-tv"></i><span>TV Series</span></a></li>
                <li><a href="" title=""><i class="icon icon-calendar"></i><span>Upcoming</span></a></li>
            </ul>
        </div>
        <div class="quiz pr">
            <div class="box-icon flex-center"><img src="./assets/img/ticket.svg" alt=""></div>
            <h5 class="txt-w-m">Play movie quizes and earn free tickets</h5>
            <p class="mb-2">50k people are playing now</p>
            <a href="" title="" class="btn-start txt-w-m">Start playing</a>
        </div>
        <a href="" title="" class="logout flex-lc txt-md txt-w-s"><i class="icon icon-logout"></i><span>Log out</span></a>
    </div>
</div>