<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<div class="modal-movibes"></div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-sidebar').on('click',function (){
            $(this).parent().toggleClass('active');
            $('.modal-movibes').toggleClass('active');
        });
        $('.btn-filter').on('click',function (){
            $(this).parent().toggleClass('active');
            $('.modal-movibes').toggleClass('active');
        });
        $('.modal-movibes').on('click',function (){
            $(this).removeClass('active');
            $('.section-filter,.main-sidebar').removeClass('active');
        });

        $('.btn-uncheck').on('click',function (){
            $(this).parents('.filter').find('.checkbox').prop("checked", false);
        })
    });
</script>
</body>
</html>