<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-body">
        <div class="flex-lc mb-md justify-content-between">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Search for movies, TV shows...">
                <button type="submit" class="btn-submit"></button>
            </form>
            <div class="flex-lc justify-content-end">
                <div class="notifi">
                    <button type="button" class="btn-notifi flex-center pr"><span class="number"></span></button>
                </div>
                <div class="avatar"><img src="./assets/img/avatar.png" class="img-fit" alt=""></div>
            </div>
        </div>
        <div class="flex">
            <div class="box-movies">
                <div class="box-movie">
                    <div class="movie highlight pr">
                        <div class="movie__img"><img src="./assets/img/thumb-1.png" alt=""></div>
                        <div class="movie__action flex">
                            <a href="" title="" class="flex-center txt-md txt-w-s"><i class="icon icon-play"></i><span>Play</span></a>
                            <a href="" title="" class="flex-center txt-md txt-w-s"><i class="icon icon-info"></i><span>More info</span></a>
                        </div>
                    </div>
                </div>
                <div class="box-movie">
                    <div class="header flex-lc">
                        <h2 class="title txt-w-s">Trending</h2>
                        <a href="" title="" class="see-all txt-w-s">See all</a>
                    </div>
                    <div class="movie-list">
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-1.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>8.8</span>
                            </div>
                        </div>
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-2.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>8.5</span>
                            </div>
                        </div>
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-3.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>7.0</span>
                            </div>
                        </div>
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-4.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>7.0</span>
                            </div>
                        </div>
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-1.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>8.8</span>
                            </div>
                        </div>
                        <div class="movie pr">
                            <a href="" class="movie__img"><img src="./assets/img/img-movie-2.png" alt=""></a>
                            <div class="movie__rating flex-center">
                                <img src="./assets/img/star.png" alt="">
                                <span>8.5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "../share/filter.html" %}
        </div>
    </div>
</div>
