<div class="movibes-account flex">
    <div class="col-left">
        <div class="logo">
            <a href="" title=""><img src="./assets/img/logo-1.svg" alt=""></a>
        </div>
        <div class="content">
            <div class="header text-center mb-md">
                <h1>Welcome back, Olivia</h1>
                <p>Welcome back! Please enter your details.</p>
            </div>
            <form action="" method="" class="mb-md">
                <button type="submit" class="flex-center btn-login-google">
                    <img src="./assets/img/google.svg" alt="Google">
                    <span class="txt-md ml-3">Log in with Google</span>
                </button>
            </form>
            <div class="divider flex-center"><span class="txt-md">or</span></div>
            <div class="movibes-form">
                <form action="" method="">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="flex-lc justify-content-between">
                            <label class="checkbox flex-lc pr">
                                <input type="checkbox" name="">
                                <span class="checked flex-center"></span>
                                Remember me for 30 days
                            </label>
                            <a href="" title="" class="forgot-password">Forgot password</a>
                        </div>
                    </div>
                    <button type="submit" class="btn-submit txt-w-s">Log in</button>
                </form>
                <div class="text-center mt-sm txt-gray">Don’t have an account ? <a href="" title="">Sign up for free</a></div>
            </div>
        </div>
    </div>
    <div class="col-right">
        <div class="movibes-slider pr">
            <div class="item pr">
                <a href="" class="item__img"><img src="./assets/img/img-slide-1.jpg" alt=""></a>
                <div class="item__content pr">
                    <h3 class="txt-w-s"><a href="" title="">Top Gun: Maverick</a></h3>
                    <p class="txt-lg txt-w-s mb-3">2022 | PG-13 | 2h 10m</p>
                    <p class="txt-lg txt-w-s">Genres : Action , Drama</p>
                    <div class="imdb flex-lc">
                        <img src="./assets/img/imdb.png" alt="IMDb">
                        <div class="flex-lc">
                            <img src="./assets/img/star.png" alt="" class="mx-1">
                            <span class="txt-sm txt-w-s">8.5 / 10</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item pr">
                <a href="" class="item__img"><img src="./assets/img/img-slide-2.jpg" alt=""></a>
                <div class="item__content pr">
                    <h3 class="txt-w-s"><a href="" title="">She-Hulk: Attorney at Law</a></h3>
                    <p class="txt-lg txt-w-s mb-3">TV Series | 2022 | TV-14</p>
                    <p class="txt-lg txt-w-s">Genres : Action , Adventure , Comedy</p>
                    <div class="imdb flex-lc">
                        <img src="./assets/img/imdb.png" alt="IMDb">
                        <div class="flex-lc">
                            <img src="./assets/img/star.png" alt="" class="mx-1">
                            <span class="txt-sm txt-w-s">8.5 / 10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>