<div class="main flex">
    {% include "../share/sidebar.html" %}
    <div class="main-body">
        <div class="flex-lc mb-md justify-content-between">
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Search for movies, TV shows...">
                <button type="submit" class="btn-submit"></button>
            </form>
            <div class="flex-lc justify-content-end">
                <div class="notifi">
                    <button type="button" class="btn-notifi flex-center pr"><span class="number"></span></button>
                </div>
                <div class="avatar"><img src="./assets/img/avatar.png" class="img-fit" alt=""></div>
            </div>
        </div>
        <div class="trailer pr">
            <div class="trailer__img"><img src="./assets/img/img-movie-6.png" alt="" class="img-fit"></div>
            <button type="button" class="btn-play"><i class="icon icon-play"></i><span>Watch Trailer</span></button>
        </div>
        <div class="movie-info flex">
            <div class="col-left">
                <div class="flex-lc mb-4">
                    <h1>Top Gun: Maverick • 2022 • PG-13 • 2h 10m</h1>
                    <div class="tag flex">
                        <a href="" title="">Action</a>
                        <a href="" title="">Drama</a>
                    </div>
                </div>
                <div class="des txt-md">
                    After thirty years, Maverick is still pushing the envelope as a top naval aviator,
                    but must confront ghosts of his past when he leads TOP GUN's elite graduates
                    on a mission that demands the ultimate sacrifice from those chosen to fly it.
                </div>
                <div class="info-list txt-md">
                    <p>Director : <span>Joseph Kosinski</span></p>
                    <p>Writers :  <span>Jim Cash, Jack Epps Jr,  Peter Craig</span></p>
                    <p>Stars : <span>Tom Cruise, Jennifer Connelly, Miles Teller</span></p>
                </div>
                <div class="more flex-lc pr">
                    <div class="rated txt-md">Top rated movie #65</div>
                    <div class="awards">
                        <h4 class="txt-md">Awards 9 nominations</h4>
                    </div>
                    <button type="button" class="btn-expand"></button>
                </div>
            </div>
            <div class="col-right">
                <div class="statistical flex-center mb-4">
                    <button type="button" class="favourite"></button>
                    <button type="button" class="share"></button>
                    <button type="button" class="bookmark"></button>
                    <div class="rating flex-lc">
                        <img src="./assets/img/star.png" alt="">
                        <p>8.5 <span>| 350k</span></p>
                    </div>
                </div>
                <a href="" title="" class="btn-showtime flex-center txt-md"><i class="icon icon-ticket"></i>See Showtimes</a>
                <div class="watch-list">
                    <h4 class="flex-center txt-md mb-sm"><i class="icon icon-list"></i>More watch options</h4>
                    <div class="item">
                        <a href="" class="pr">
                            <img src="./assets/img/img-movie-5.png" class="img-fit" alt="">
                            <span>The Best Movies and Shows in September</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>