:root{
  --gray: #BABABA;
}

body{
  background: #191919;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #FEFEFE;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  &.scroll{
    box-shadow: 0 2px 4px rgba(#000,.1);
    .navbar{padding: 20px 0; }
  }
}

//main
.sidebar{
  width: 226px; height: 100vh;
  border-radius: 0px 45px 45px 0px;
  padding-bottom: 20px;
  background: #212121;
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #212121;}
  &::-webkit-scrollbar-thumb{background: #262525;}
  .logo{width: 118px; display: block; margin: 52px auto 80px;}
  .quiz{
    width: 170px;
    padding: 42px 15px 16px;
    margin: 44px auto;
    border-radius: 20px;
    background: #191919;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    .box-icon{
      width: 60px; height: 60px;
      border-radius: 40px;
      background: rgba(61, 210, 204, 0.40);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      position: absolute; left: 50%; transform: translateX(-50%); top: -30px;
    }
    h5{font-size: 15px; color: rgba(232, 232, 232, 0.80); line-height: 1.52;}
    p{font-size: 12px; color: #666; font-weight: 500;}
    .btn-start{
      width: 112px; display: block; margin: 0 auto;
      padding: 6.5px 0;
      border-radius: 9999px;
      background: rgba(61, 210, 204, 0.40);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
      color: #3DD2CC;
      text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 12px;
      text-align: center;
      &:hover{background: rgba(61, 210, 204, 0.50);}
    }
  }
  .logout{
    margin-left: 42px;
    color: #666;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    .icon-logout{
      width: 34px; height: 34px;
      margin-right: 10px;
      background: url("#{$img-path}/icon-logout.svg") no-repeat 0 0/contain;
    }
    &:hover{filter: invert(1);}
  }
}
.navbar{
  padding: 0; display: block;
  .menu{
    >*+*{margin-top: 20px;}
  }
  li a{
    display: flex; align-items: center;
    padding: 28px 16px 28px 42px;
    font-size: 20px; font-weight: 600; color: #666; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    &:hover{
      .icon,span{filter: invert(.5);}
    }
  }
  .active{
    color: #3DD2CC;
    background: rgba(61, 210, 204, 0.40);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    &::after{
      content: "";
      width: 6px; height: 100%;
      background: rgba(61, 210, 204, 0.75);
      position: absolute; right: 0; top: 0;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    }
    &:hover{
      .icon,span{filter: invert(0);}
    }
    .icon-home{background: url("#{$img-path}/icon-home-active.svg") no-repeat 0 0/contain;}
    .icon-movies{background: url("#{$img-path}/icon-movie-active.svg") no-repeat 0 0/contain;}
  }
  .icon{width: 29px; height: 29px; margin-right: 12px; display: block;}
  .icon-home{background: url("#{$img-path}/icon-home.svg") no-repeat 0 0/contain;}
  .icon-movies{background: url("#{$img-path}/icon-movie.svg") no-repeat 0 0/contain;}
  .icon-tv{background: url("#{$img-path}/icon-tvshow.svg") no-repeat 0 0/contain;}
  .icon-calendar{background: url("#{$img-path}/icon-calendar.svg") no-repeat 0 0/contain;}
}
.main-body{
  width: calc(100% - 226px);
  padding: 44px 36px 0;
  height: 100vh;
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #191919;}
  &::-webkit-scrollbar-thumb{background: #191919;}
  .form-search{
    width: calc(100% - 362px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
    input{
      width: 100%;
      height: 65px;
      padding: 0 15px 0 100px;
      border: none;
      background: #212121;
      border-radius: 30px;
      color: #666;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      font-size: 25px;
      font-weight: 600;
      &:focus{outline: none;}
    }
    .btn-submit{
      width: 39px; height: 39px;
      background: url("#{$img-path}/icon-search.svg") no-repeat 0 0/contain;
      position: absolute; left: 41px; top: 50%; transform: translateY(-50%);
    }
  }
  .box-movies{width: calc(100% - 352px);}
  .box-filter{width: 352px; padding-left: 36px;}
}
.main-right{
  width: 290px;
  padding: 42px 36px 0 0;
  height: 100vh;
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #191919;}
  &::-webkit-scrollbar-thumb{background: #191919;}
}
.box-movie{
  margin-bottom: 32px;
  .header{margin-bottom: 26px;}
  .title{font-size: 25px; color: #fff;}
  .see-all{
    margin-left: auto;
    font-size: 15px;
    color: #666;
  }
}
.movie-list{
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, 200px));
  justify-content: space-between;
  grid-gap: 28px;
  .movie{
    &__img{
      &:hover img{transform: scale(1.1);}
    }
  }
}
.movie{
  &__action{
    position: absolute; right: 32px; bottom: 19px;
    >*+*{margin-left: 25px;}
    a{
      padding: 6px 23px;
      border-radius: 15px;
      background: rgba(232, 232, 232, 0.10);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(2.5px);
      color: #E8E8E8;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      &:hover{background: rgba(232, 232, 232, 0.20);}
    }
    .icon-play{
      width: 43px; height: 43px;
      background: url("#{$img-path}/icon-play.svg") no-repeat 0 0/contain;
      margin-right: 2px;
    }
    .icon-info{
      width: 25px; height: 25px;
      background: url("#{$img-path}/icon-info.svg") no-repeat 0 0/contain;
      margin-right: 10px;
    }
  }
  &__img{
    display: block;
    overflow: hidden;
    border-radius: 20px;
    img{width: 100%; transition: .3s;}
  }
  &__rating{
    width: 68px;
    height: 28px;
    padding-right: 3px;
    border-radius: 0px 20px;
    background: rgba(232, 232, 232, 0.15);
    backdrop-filter: blur(2.5px);
    position: absolute; top: 0; right: 0;
    span{font-size: 16px; color: #E8E8E8;}
    img{width: 20px; margin: -3px 5px 0 0;}
  }
}
.filter{
  margin-bottom: 24px;
  h4{color: #E8E8E8;}
  .btn-uncheck{
    margin-left: auto; padding: 0; background: none; font-size: 14px; color: #666;
    &:hover{color: #ccc;}
  }
  ul{
    li{list-style: none;}
  }
  &__list{
    padding: 5px 22px;
    border-radius: 30px;
    background: #212121;
    label{
      display: flex;
      flex-direction: row-reverse;
      align-items: center; justify-content: space-between;
      margin-bottom: 0;
      font-size: 15px;
      color: #E8E8E8;
      font-weight: 500;
    }
    li{padding: 6px 0; border-bottom: 2px solid rgba(102, 102, 102, 0.30); position: relative;}
    input{position: absolute; opacity: 0;}
    .checked{
      width: 31px; height: 31px;
      display: flex; align-items: center; justify-content: center;
      &::after{
        content: "";
        width: 17px; height: 17px;
        border-radius: 4px;
        background: #37afaa; display: block;
      }
    }
    input:checked + .checked::after{width: 31px; height: 31px; background: url("#{$img-path}/checked.png") no-repeat 0 0/contain;}
  }
  .see-more{
    width: 100%;
    padding: 10px 0 6px;
    background: none;
    text-align: center;
    color: #666;
    font-weight: 500;
    font-size: 13px;
    &:hover{color: #ccc;}
  }
}
.notifi{
  .btn-notifi{
    width: 70px; height: 70px;
    border-radius: 50%;
    background: url("#{$img-path}/notifi.svg") no-repeat 0 0/contain;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .number{
    width: 10px; height: 10px;
    border-radius: 50%;
    background: #3DD2CC;
    color: #fff;
    font-size: 8px;
    position: absolute; top: 14px; left: 36px;
  }
}
.trailer{
  .btn-play{
    background: none;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    &:hover{
      .icon-play{transform: scale(1.1);}
    }
  }
  .icon-play{
    width: 120px; height: 120px; display: block; margin: 0 auto 5px;
    background: url("#{$img-path}/play.svg") no-repeat 0 0/contain;
    transition: .5s;
  }
  span{
    white-space: nowrap;
    font-weight: 500;
    font-size: 25px;
    color: #E8E8E8;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}
.avatar{
  width: 70px; margin-left: 24px;
  img{border-radius: 50%;}
}
.movie-info{
  padding: 30px 0;
  .col-left{width: calc(100% - 360px); padding-right: 20px;}
  .col-right{width: 360px;}
  h1{color: #E8E8E8; font-size: 23px;}
  .tag{
    margin-left: 12px;
    a{
      padding: 2.5px 17px;
      border-radius: 9999px;
      border: 1px solid rgba(232, 232, 232, 0.35);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 5px;
      color: rgba(232, 232, 232, 0.80);
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      font-size: 15px;
      font-weight: 500;
    }
  }
  .des{padding-bottom: 20px; font-weight: 300; border-bottom: 1px solid rgba(232, 232, 232, 0.25);}
  .info-list{
    p{padding: 15px 0; border-bottom: 1px solid rgba(232, 232, 232, 0.25); color: #E8E8E8;}
    p span{color: #3DD2CC;}
  }
  .statistical{
    >*+*{margin-left: 20px;}
    button{width: 35px; height: 35px;}
  }
  .watch-list{
    h4{
      width: 100%; height: 55px;
      border-radius: 10px;
      background: rgba(18, 18, 18, 0.80);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .icon-list{width: 27px; height: 27px; margin-right: 10px; background: url("#{$img-path}/icon-list.png") no-repeat;}
    .item{
      a{
        display: block;
        color: #E8E8E8;
      }
      span{
        width: 100%;
        padding: 10.5px 10px;
        padding-left: 51px;
        border-radius: 10px;
        background: rgba(18, 18, 18, 0.50);
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        position: absolute; bottom: 0; left: 0;
      }
      span::before{
        content: "";
        width: 27px; height: 27px; margin-right: 10px; background: url("#{$img-path}/icon-list.png") no-repeat;
        position: absolute; left: 15px; top: 10px;
      }
    }
  }
  .favourite{background: url("#{$img-path}/icon-heart.svg") no-repeat;}
  .share{background: url("#{$img-path}/icon-share.svg") no-repeat;}
  .bookmark{background: url("#{$img-path}/icon-bookmark.svg") no-repeat;}
  .rating{
    font-weight: 500;
    font-size: 25px;
    color: #E8E8E8;
    line-height: 30px;
    p{padding-left: 9px;}
    span{color: #666; font-size: 20px;}
    img{width: 30px; margin-top: -4px;}
  }
  .btn-showtime{
    width: 100%; height: 55px;
    margin-bottom: 12px;
    border-radius: 10px;
    background: rgba(61, 210, 204, 0.80);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
    .icon-ticket{width: 25px; height: 25px; margin-right: 10px; background: url("#{$img-path}/icon-ticket.svg") no-repeat;}
    &:hover{background: rgba(61, 210, 204, 0.90); color: #fff;}
  }
  .more{
    margin-top: 15px;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.80);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    .rated{
      padding: 12.5px 20px;
      border-radius: 10px;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      background: rgba(61, 210, 204, 0.70);
    }
    .awards{padding: 0 24px;}
    .btn-expand{
      width: 30px; height: 30px;
      padding: 0;
      margin-left: auto;
      margin-right: 26px;
      background: url("#{$img-path}/arrow-down.png") no-repeat center center;
    }
  }
}

.movibes-account{
  height: 100vh; overflow: hidden;
  .col-right{width: 39.5%;}
  .col-left{
    width: 60.5%; flex-direction: column; height: 100%; overflow: auto;
    &::-webkit-scrollbar{width: 3px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #888;}
  }
  .col-left{padding: 48px 0; overflow: auto;}
  .content{
    max-width: 395px; margin: 0 auto; padding-top: 125px;
  }
  .logo{margin-left: 62px;}
  .header{
    p{font-weight: 500; font-size: 19px; color: rgba(#BABABA,.7);}
  }
  .divider{
    margin-bottom: 30px; flex-wrap: nowrap;
    &::after,&::before{
      content: "";
      width: 151px; height: 1px;
      background: #4D4B4B;
    }
    span{padding: 0 36px; white-space: nowrap; color: var(--gray);}
  }
  h1{margin-bottom: 9px; font-size: 35px; font-weight: 500; line-height: 1.51;}
  .btn-login-google{
    width: 100%; height: 72px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #4D4B4B;
    color: #FEFEFE;
    &:hover{border: 1px solid #ccc;}
  }
}
.movibes-form{
  .checkbox{
    margin-bottom: 0;
    color: rgba(#FEFEFE,.5);
    font-weight: 300;
    input{position: absolute; opacity: 0;}
    .checked{
      width: 15px; height: 15px;
      margin-right: 12px;
      border-radius: 4px;
      border: 1px solid #4D4B4B;
      position: relative;
      &::after{
        content: "";
        width: 10px; height: 8px;
        background: url("#{$img-path}/check.svg") no-repeat 0 0/contain;
        filter: contrast(0);
        display: none;
      }
    }
    input:checked + .checked::after{display: block;}
  }
  .forgot-password{
    font-weight: 300;
    color: #FEFEFE;
    text-decoration: underline;
    &:hover{color: #ccc;}
  }
  .form-group{margin-bottom: 30px;}
  input{
    width: 100%;
    padding: 12px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #4D4B4B;
    font-size: 20px;
    color: var(--gray);
    transition: .3s;
    &:focus{outline: none; border-bottom: 1px solid #ccc;}
  }
  .btn-submit{
    width: 100%; height: 60px;
    margin-top: 10px;
    border-radius: 15px;
    background: rgba(254, 254, 254, 0.96);
    font-size: 22px;
    color: #191919;
    &:hover{background: #e5e2e2;}
  }
  a:hover{color: #ccc;}
}
.movibes-slider{
  max-width: 756px; margin-left: auto;
  h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    a:hover{color: #fffc00;}
  }
  .item{
    &::after{
      content: "";
      width: 100%; height: 210px;
      background: rgba(25, 25, 25, 0.03);
      backdrop-filter: blur(2px);
      position: absolute; bottom: 0;
    }
    &__img img{
      width: 100%; height: 100vh; object-fit: cover; object-position: top center;
    }
    &__content{
      width: 100%; height: 100%; padding: 30px 190px 30px 30px;
      display: flex; flex-direction: column;
      justify-content: flex-end;
      position: absolute; top: 0; left: 0; z-index: 2;
    }
  }
  .imdb{
    position: absolute; right: 28px; bottom: 82px;
    span{text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);}
  }
}
.btn-sidebar,.btn-filter{display: none;}
.modal-movibes{
  width: 100%; height: 100%;
  background: rgba(#000,.6);
  position: fixed; top: 0; left: 0;
  opacity: 0; visibility: hidden; transition: .5s; z-index: -1;
  &.active{opacity: 1; visibility: visible; z-index: 3;}
}

//uikit
.pr{position: relative;}
.grid{display: grid;}
a{color: #FEFEFE;}
.icon{display: block;}
button{
  cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.txt-lg{font-size: 24px;}
.txt-md{font-size: 20px;}
.txt-sm{font-size: 18px;}
.txt-w-m{font-weight: 500;}
.txt-w-s{font-weight: 600;}

.mb-md{margin-bottom: 45px;}
.mb-sm{margin-bottom: 32px;}
.mt-sm{margin-top: 30px;}

.txt-gray{color: rgba(186, 186, 186, 0.85);}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

h2.title{
  font-weight: 600;
  font-size: 48px;
  color: #000;
  line-height: 1.5;
  &.white{color: #fff;}
}
.slick-arrow{
  width: 79px; height: 79px;
  background: url("#{$img-path}/next.png") no-repeat center center;
  position: absolute; bottom: 20px;
  font-size: 0; z-index: 2;
  &:hover{filter: invert(0.2);}
}
.slick-next{right: 30px;}
.slick-prev{right: 111px; transform: rotate(180deg);}

.container{max-width: 1230px;}

@media (max-width: 1600px) {
  .movibes-account{
    .col-right{width: 50%;}
    .col-left{width: 50%; padding: 30px 0;}
    .content{padding-top: 80px;}
  }
  .movibes-slider{
    max-width: 100%;
    h3{font-size: 32px; line-height: 1.3;}
  }

  .mb-md{margin-bottom: 35px;}
  .txt-lg{font-size: 22px;}
}
@media (max-width: 1440px) {
  .movibes-account{
    .content{max-width: 375px;}
    .header p{font-size: 18px;}
    h1{font-size: 32px;}
    .divider{margin-bottom: 25px;}
    .btn-login-google{height: 66px;}
  }
  .movibes-form{
    input{padding: 10px 0; font-size: 18px;}
    .btn-submit{height: 56px; font-size: 20px;}
  }
  .sidebar{
    .logo{margin: 42px auto 60px;}
  }
  .main-body{
    padding: 34px 26px 0;
    .form-search{
      width: calc(100% - 300px);
      input{font-size: 21px; height: 60px;}
    }
    .box-filter{width: 300px; padding-left: 26px;}
    .box-movies{
      width: calc(100% - 300px);
    }
  }
  .main-right{
    padding-top: 34px;
  }
  .navbar{
    .menu > *+*{margin-top: 10px;}
    li a{padding: 24px 16px 24px 42px; font-size: 18px;}
  }
  .box-movie{
    .title{font-size: 22px;}
  }
  .movie-list{
    grid-template-columns: repeat(4, minmax(auto, 200px));
  }
  .avatar{width: 60px; margin-left: 16px;}
  .notifi{
    .btn-notifi{width: 60px; height: 60px;}
  }

  .txt-md{font-size: 18px;}
}

@media (max-width: 1024px) {
  .main-body{
    padding: 24px; width: calc(100% - 200px);
    .box-movies{width: 100%;}
    .form-search{
      width: calc(100% - 160px);
      input{height: 55px; font-size: 18px; padding-left: 70px;}
      .btn-submit{left: 16px;}
    }
    .box-filter{
      width: 240px; height: 100%; padding: 24px 15px;
      background: #191919;
      overflow: auto;
      position: fixed; right: -240px; top: 0; z-index: 9; transition: .5s;
      &.active{right: 0;}
    }
  }
  .sidebar{
    width: 200px;
    .logo{margin: 32px auto 50px; width: 110px;}
  }
  .navbar{
    li a{padding: 20px 16px; font-size: 16px;}
    .active::after{width: 4px;}
  }
  .movie{
    &__action{
      right: 15px; bottom: 15px;
      a{padding: 4px 18px;}
    }
  }
  .movie-list{grid-gap: 16px;}
  .movie-info{
    .col-right,.col-left{width: 100%; padding: 0;}
    .col-right{margin-top: 40px;}
    .more{
      .rated{padding: 12px;}
      .awards{padding: 15px;}
    }
    .rating{
      font-size: 20px;
      span{font-size: 18px;}
    }
    .statistical > * + *{margin-left: 15px;}
    .tag{width: 100%; margin: 15px -5px 0;}
  }
  .movibes-slider{
    .imdb{
      display: block; bottom: 100px;
      .flex-lc{margin-top: -10px;}
    }
    .item{
      &__content{padding: 30px 130px 30px 20px;}
    }
  }
  .watch-list .item{max-width: 360px;}
  .trailer{
    &__img{
      border-radius: 20px; overflow: hidden;
      img{min-height: 30vw;}
    }
    .icon-play{width: 80px; height: 80px;}
    span{font-size: 20px;}
  }
  .section-filter{
    &.active{
      position: relative; z-index: 9;
      .btn-filter{right: 240px; background: #212121 url("#{$img-path}/close.png") no-repeat center center;}
      .box-filter{right: 0;}
    }
  }
  .filter{
    &__list{padding: 5px 16px;}
  }
  .btn-filter{
    width: 46px; height: 46px; display: flex;
    background: #212121 url("#{$img-path}/filter.png") no-repeat center center;
    border-radius: 10px 0 0 10px;
    position: fixed; right: 0; top: 80px; z-index: 2; transition: right .5s;
    &.active{right: 240px; background: #212121 url("#{$img-path}/close.png") no-repeat center center;}
  }

  .slick-next{right: 0;}
  .slick-prev{right: 60px;}
}

@media (max-width: 767px) {
  .main-body{
    width: 100%; padding: 24px 16px;
    .form-search{width: calc(100% - 110px);}
  }
  .main-sidebar{
    &.active{
      position: relative; z-index: 9;
      .btn-sidebar{left: 200px; background: #212121 url("#{$img-path}/close.png") no-repeat center center;}
      .sidebar{left: 0;}
    }
  }
  .sidebar{
    height: 100%;
    border-radius: 0px 35px 35px 0px;
    position: fixed; left: -200px; z-index: 5; transition: .5s;
    &.active{left: 0;}
  }
  .movibes-account{
    .col-right{display: none;}
    .col-left{width: 100%;}
  }
  .btn-sidebar{
    display: flex;
    width: 46px; height: 46px;
    background: #212121 url("#{$img-path}/arrow-down.png") no-repeat center center;
    border-radius: 0 0 10px 10px;
    transform: rotate(-90deg);
    position: fixed; left: 0; top: 80px; z-index: 2; transition: left .5s;
    &.active{left: 200px; background: #212121 url("#{$img-path}/close.png") no-repeat center center;}
  }
  .movie{
    &__action{
      >*+*{margin-left: 12px;}
      a{padding: 0 14px; border-radius: 10px;}
    }
  }
  .movie-list{grid-template-columns: repeat(3,minmax(auto, 200px)); justify-content: center;}
  .avatar{width: 45px; margin-left: 10px;}
  .notifi{
    .btn-notifi{width: 45px; height: 45px;}
    .number{top: 7px; left: 24px;}
  }

  .txt-md{font-size: 16px;}
}
@media (max-width: 540px) {
  .main-body{
    .form-search{
      input{padding-left: 45px; font-size: 15px;}
      .btn-submit{width: 28px; height: 28px; left: 10px;}
    }
  }
  .movibes-account{
    h1{font-size: 30px;}
    .logo{margin-left: 15px;}
    .content{padding: 60px 15px 15px;}
  }
  .box-movie{
    .title{font-size: 20px;}
  }
  .movie{
    &.highlight{
      img{min-height: 50vw; object-fit: cover;}
    }
    &__action{
      .icon-play{width: 35px; height: 35px;}
      .icon-info{width: 20px; height: 20px;}
    }
  }
  .movie-list{grid-template-columns: repeat(2, minmax(auto, 200px)); grid-column-gap: 10px; grid-row-gap: 15px;}
  .trailer{
    span{font-size: 18px;}
    .icon-play{width: 65px; height: 65px;}
    &__img img{min-height: 50vw;}
  }
}